//- model,data
-
  var header = '#experience'
  var experienceList = [
    {
      title: 'MoneyBoy',
      date: '2000 March - present',
      company: 'Industry',
      responsabilityList: [
        'responsability one',
        'responsability two',
        'responsability three',
      ]
    },
    {
      title: 'Actor',
      date: '1985 March - present',
      company: 'Life',
      responsabilityList: [
        'responsability one',
        'responsability two',
        'responsability three',
      ]
    },
    {
      title: 'Stage Director',
      date: '2020 March - present',
      company: 'Terra',
      responsabilityList: [
        'responsability one',
        'responsability two',
        'responsability three',
      ]
    }
  ];
//- view, presentation
#experience
.experience
  .experience__header=header
    input(type="radio", name="same-name", id="experience-default")
    label(for="experience-default") &times;
  each experience, key in experienceList
    input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
    label.experience__title(for=`experience-id-${key}`)=experience.title
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience__list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability
